[main]

dont_bundle =
     css/bootstrap.css
     css/font-awesome.css
     css/normalize.css
     css/ckan.css
     css/style.css

[IE conditional]

lte IE 8 =
#    scripts/vendor/leaflet/leaflet.ie.css
#    scripts/vendor/leaflet.draw/leaflet.draw.ie.css

lte IE 9 =
#    scripts/vendor/jquery.placeholder.js

[depends]

#main = base/main

[groups]

js =
#    scripts/vendor/jquery.placeholder.js
#    scripts/jquery.cookie.js
#    scripts/datagovtheme.js
#    scripts/tracking.js
#    scripts/hideMaxListItem.js
#    scripts/sorting.js
