<header role="banner" class="header">

    <div class="navbar navbar-default navbar-fixed-top">

        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" title="RTPA - TET" href="http://tet.dev"></a>
            </div>

            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <!--  TODO serialize to .json  -->
                <ul id="menu-main-menu" class="nav navbar-nav"><li id="menu-item-4" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item active"><a href="http://tet.dev/">Welcome to TET</a></li>
                    <li id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://tet.dev/index.php/illud-feugait/">Illud feugait</a></li>
                    <li id="menu-item-13" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://tet.dev/index.php/ne-vim-volumus/">Ne vim volumus</a></li>
                </ul>
                <div class="tet_console_right">

                    <div class="tet_console clearfix">
                        <div class="tet_console_body clearfix">

                            <div class="right">

                                <div class="tet_console_item">
                                    <a href="#">
                                        <i class="fa fa-envelope"></i>
                                    </a>
                                </div>

                                <div class="tet_console_item">
                                    <a href="#">
                                        <i class="fa fa-bell"></i>
                                    </a>
                                </div>

                                <div class="tet_console_item">
                                    <a href="#">
                                        <i class="fa fa-user"></i>
                                    </a>
                                </div>

                                <div class="tet_console_item tet_console_dropdown tet_console_dropdown_hover">
                                    <div class="tet_console_lang_item">
                                        <a href="#" class="tet_lang_dropdown_toggle" data-toggle="collapse" data-target="tet_language_popup">
                                            <span class="tet_console_lang_en">en</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tet_language_popup" style="display: none;">

                        <div class="tet_tooltip console_tooltip tet_tooltip_top_right" style="">
                            <div class="tet_tooltip_tail">
                                <span></span>
                            </div>
                            <div class="tet_tooltip_body">

                                <ul class="tet_console_lang list-unstyled">
                                    <li class="tet_console_lang_item" ><span class="tet_console_lang_en">en</span></li>
                                    <li class="tet_console_lang_item" ><span class="tet_console_lang_it">it</span></li>
                                    <li class="tet_console_lang_item" ><span class="tet_console_lang_nl">nl</span></li>
                                    <li class="tet_console_lang_item" ><span class="tet_console_lang_fr">fr</span></li>
                                </ul>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div> <!-- end .container -->
    </div> <!-- end .navbar -->

    <div class="tet_img_header">
        <div class="tet_header_version">TET<br>v.0.1</div>
        <div class="tet_header_pic"></div>
    </div>

</header> <!-- end header -->

