<header role="banner" class="header">

    <div class="navbar navbar-default navbar-fixed-top">

        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" title="RTPA - TET" href="http://srvgal100.deri.ie:8081/"></a>
            </div>

            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <!--  TODO serialize to .json  -->
                <ul id="menu-main-menu" class="nav navbar-nav">
                    
                    <li><a href="/">Search</a></li>
                    
                    {% block header_site_navigation_tabs %}
                        {{ h.build_nav_main(
                          ('search', _('Datasets')),
                          ('organizations_index', _('Organizations')),
                          ('group_index', _('Groups')),
                          ('about', _('About'))
                        ) }}
                    {% endblock %}
                    
                    {% if c.userobj %}

                        {% block header_account_logged %}
                        {% if c.userobj.sysadmin %}
                          <li>
                            <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                              <i class="icon-legal" aria-hidden="true"></i>
                              <span class="text">{{ _('Admin') }}</span>
                            </a>
                          </li>
                        {% endif %}
                        <li>
                          <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                            {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                            <span class="username">{{ c.userobj.display_name }}</span>
                          </a>
                        </li>
                        {% set new_activities = h.new_activities() %}
                        <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                          {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
                          <a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{{ notifications_tooltip }}">
                            <i class="icon-dashboard" aria-hidden="true"></i>
                            <span class="text">{{ _('Dashboard') }}</span>
                            <span class="badge">{{ new_activities }}</span>
                          </a>
                        </li>
                        {% block header_account_settings_link %}
                          <li>
                            <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                              <i class="icon-cog" aria-hidden="true"></i>
                              <span class="text">{{ _('Settings') }}</span>
                            </a>
                          </li>
                        {% endblock %}
                        {% block header_account_log_out_link %}
                          <li>
                            <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                              <i class="icon-signout" aria-hidden="true"></i>
                              <span class="text">{{ _('Log out') }}</span>
                            </a>
                          </li>
                        {% endblock %}
                        {% endblock %}
                    {% else %}

                        {% block header_account_notlogged %}
                          <li>{% link_for _('Log in'), controller='user', action='login' %}</li>
                        {% if h.check_access('user_create') %}
                          <li>{% link_for _('Register'), controller='user', action='register', class_='sub' %}</li>
                        {% endif %}
                        {% endblock %}
                  {% endif %}
                </ul>
                <div class="tet_console_right">

                    <div class="tet_console clearfix">
                        <div class="tet_console_body clearfix">

                            <div class="right">

                                <div class="tet_console_item">
                                    <a href="#">
                                        <i class="fa fa-envelope"></i>
                                    </a>
                                </div>

                                <div class="tet_console_item">
                                    <a href="#">
                                        <i class="fa fa-bell"></i>
                                    </a>
                                </div>

                                <div class="tet_console_item">
                                    <a href="#">
                                        <i class="fa fa-user"></i>
                                    </a>
                                </div>

                                <div class="tet_console_item tet_console_dropdown tet_console_dropdown_hover">
                                    <div class="tet_console_lang_item">
                                        <a href="#" class="tet_lang_dropdown_toggle" data-toggle="collapse" data-target="tet_language_popup">
                                            <span class="tet_console_lang_en">en</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tet_language_popup" style="display: none;">

                        <div class="tet_tooltip console_tooltip tet_tooltip_top_right" style="">
                            <div class="tet_tooltip_tail">
                                <span></span>
                            </div>
                            <div class="tet_tooltip_body">

                                <ul class="tet_console_lang list-unstyled">
                                    <li class="tet_console_lang_item" ><span class="tet_console_lang_en">en</span></li>
                                    <li class="tet_console_lang_item" ><span class="tet_console_lang_it">it</span></li>
                                    <li class="tet_console_lang_item" ><span class="tet_console_lang_nl">nl</span></li>
                                    <li class="tet_console_lang_item" ><span class="tet_console_lang_fr">fr</span></li>
                                </ul>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div> <!-- end .container -->
    </div> <!-- end .navbar -->

</header> <!-- end header -->

